<div id="home" class="full-size">
  <!--Desktop Top Bar Section-->
  <section class="hide-for-small-only">
    <div class="abs-top-icons shishi-logo" ng-class="mainCtrl.logoColor"></div>
    <a href="/catering"
       class="icon abs-top-icons catering-icon"
       ng-class="mainCtrl.getColorIcon('icon-catering')"></a>
    <a href="/tabit.html" target="_blank"
       class="icon abs-top-icons tavili-style"
       ng-class="mainCtrl.getColorIcon('icon-deliv')"></a>
    <a href="https://www.facebook.com/pages/Shi-Shi-Talk-Roll/602288033237270" target="_blank"
       class="icon abs-top-icons fb-style"
       ng-class="mainCtrl.getColorIcon('icon-facebook')">
    </a>
    <a href="https://instagram.com/shishitlv/" target="_blank" class="icon abs-top-icons instagram-style"
       ng-class="mainCtrl.getColorIcon('icon-instagram')">
    </a>
    <a href="http://shi-shi.co.il/shishi_menu_ENG.pdf" target="_blank"
       class="icon abs-top-icons en-menu-style"
       ng-class="mainCtrl.getColorIcon('icon-en')"></a>
    <div class="icon abs-top-icons tavili-text-style"
         ng-if="mainCtrl.showTaviliAlert"
         ng-class="mainCtrl.getColorIcon('icon-tavili-text')"></div>
  </section>

  <!--Mobile Top Bar-->
  <section class="show-for-small-only">
    <nav class="mobile-top-bar fixed show-for-small-only">
      <div class="mobile-top-bar-header">
        <div class="icon icon-shishi-logo-mobile float-left"></div>
        <div class="icon icon-hamb float-right" ng-click="mainCtrl.showTopBarSection = !mainCtrl.showTopBarSection"></div>
      </div>
      <section class="mobile-top-bar-section" ng-if="mainCtrl.showTopBarSection">
        <ul class="text-center">
          <li><a href="/tabit.html" target="_blank" class="white-color">TA / משלוח</a></li>
          <li ng-repeat="section in mainCtrl.sections">
            <a href="#"
               scroll-to="{{::section.id}}"
               duration="800"
               easing="easeOutQuint"
               offset="50"
               callback-before="mainCtrl.closeMobileTopBar()">
              {{::section.name}}
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <a href="#"
                 scroll-to="reviews"
                 duration="800"
                 easing="easeOutQuint"
                 offset="50"
                 callback-before="mainCtrl.closeMobileTopBar()">
                כתבו עלינו
              </a>
            </a>
          </li>
          <li>
            <a href="/catering">
              <div class="en-font-regular white">קייטרינג</div>
            </a>
          </li>
          <li>
            <a href="http://shi-shi.co.il/shishi-eng-menu.pdf" target="_blank">
              <div class="en-font-regular white">English Menu</div>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/pages/Shi-Shi-Talk-Roll/602288033237270" target="_blank">
              <div class="icon social-icon-size icon-facebook-white"></div>
            </a>
            <a href="https://instagram.com/shishitlv/" target="_blank">
              <div class="icon social-icon-size icon-instagram-white"></div>
            </a>
          </li>
        </ul>
      </section>
    </nav>
    <div class="order-mobile">
      <a href="/tabit.html" target="_blank">לחץ למשלוח / איסוף עצמי</a>
    </div>
  </section>

  <!--Image Gallery Section-->
  <section id="main-gallery-wrap" class="slider-wrap">
    <slick-slider images="mainCtrl.sliderImages"></slick-slider>
    <div class="contact-title-top-wrap">
      <div class="contact-title-top">
        אבן גבירול 33 (פינת הנביאים), תל אביב |
        <a href="tel:03-575-3737" class="phone-link"> טלפון להזמנות: 03-575-3737</a>
      </div>
    </div>
  </section>

  <!--About Shishi Section-->
  <section id="about-section" class="section about-section shishi-bg" dir="rtl">
    <div class="row">
      <div class="small-12 medium-7 large-6 small-centered columns text-center">

        <p class="medium-text">
            <span class="en-font-regular">Shi-Shi</span>&nbsp;הוא <b>האוכֵל</b>רְחוב החדש בעיר. יצרה אותו שגית, שעל שמה גם הסלט. שִי-שִי הוא בגדול <b>רול</b> - רול, ממש גדול, ומאוד בריא שעושה זמן טוב. מבחוץ אורז ומבפנים כל טוב טרי של: דגים/ עוף / בקר / טוֹפוּ / ירקות עם רטבים מצוינים, ולא פחות חשוב- בלי אצות כי זה לא סושי. <br/> ויש גם <b> Bowl :</b><br/>
            <b>Rice Bowl</b> עם דגים/עוף/צמחוני, ירקות ומלא הפתעות פריכות</br><b>Hot Bowl</b> של מרק אודון <br/><b>Cold Bowl </b> של סלט אטריות זכוכית. <br/> ושתיה טרייה עם לימון וליצ'י למשל.
        </p>
        <div class="large-text en-font-semi-bold-italic">
          Tavi li shi shi
        </div>
        <img src="app/assets/images/gif-faces.gif" alt="shishi faces" class="shishi-faces"/>
      </div>
    </div>
  </section>

  <!--What is Shishi Section-->
  <section id="whatis-section" class="section whatis-section red-bg white-color" dir="rtl">
    <div class="row">
      <div class="small-12 medium-8 small-centered columns text-center">
        <p class="large-para">
          שי-שי הוא בגדול רול - רול ממש גדול ובריא מבחוץ עלה אורז ואורז ובפנים דגים/ עוף / טופו / ירקות וגם פירות טריים עם רטבים מיוחדים.
        </p>
      </div>
    </div>
  </section>

  <!--Menu Section-->
  <section id="menu-section" class="section menu-section shishi-bg" dir="rtl">
    <h3 class="red-color text-center section-title">תפריט</h3>
    <h2 class="red-color text-center en-font-bold-italic">Shi Shi Roll</h2>
    <div class="row margin-top-lg">
      <div class="small-centered">
        <ul class="row small-up-1 large-up-3 text-center no-bullet" >
          <li ng-repeat="menuItem in mainCtrl.menu.mainItems" class="column">
            <div class="menu-item-card">
              <div class="icon" ng-class="mainCtrl.getMenuItemIcon(menuItem)"></div>
              <div class="menu-title en-font-bold-italic">{{::menuItem.title}}</div>
              <p class="menu-description">{{::menuItem.description}}</p>
            </div>
          </li>
        </ul>

        <div class="text-center" id="ricebowl">
          <h2 class="red-color text-center en-font-bold-italic">Shi Shi Rice Bowl</h2>
          <div class="menu-item-card menu-item-card-single margin-top-md">
            <div class="icon icon-bowl"></div>
            <div class="menu-title en-font-bold-italic">Shi Shi Bowl</div>
            <p class="menu-description">טרטר טונה אדומה פיקנטית/ טרטר סלמון לימוני/ טונה+סלמון רצועות חזה עוף דקיקות במרינדה/ עוף קריספי נתחי סלמון מאודה/קוביות טופו פריכות מוגש על מצע אורז חמים ומתובל, מלפפון, כוסברה, בצל ירוק, פטריות שיטאקה, אדממה, פרי העונה, צ'יפס בטטה, בוטנים, בצל מטוגן עם ויניגרט צ'יפוטלה</p>
            <div class="icon icon-veg_icon1 icon-veg_icon1-style"></div>
            <div class="icon icon-veg_icon2 icon-veg_icon2-style"></div>
          </div>
        </div>

        <div class="text-center">
          <h2 class="red-color text-center en-font-bold-italic">Shi Shi Cold Bowl</h2>
          <div class="menu-item-card menu-item-card-single margin-top-md">
            <div class="icon icon-bowl"></div>
            <div class="menu-title en-font-bold-italic">Salad Cold Bowl</div>
            <p class="menu-description">סלט איטריות זכוכית משעועית עם חסה ועשבי תיבול, אדממה, מלפפון, מנגו ובוטנים (תוספת סשימי של סלמון / פרוסות חזה עוף בציר אסייתי / קוביות טופו פריכות)</p>
            <div class="icon icon-veg_icon1 icon-veg_icon1-style"></div>
            <div class="icon icon-veg_icon2 icon-veg_icon2-style"></div>
          </div>
        </div>

        <div class="text-center margin-top-md">
          <h2 class="red-color text-center en-font-bold-italic">Shi Shi Hot Bowl</h2>
          <div class="menu-item-card menu-item-card-single margin-top-md">
            <div class="icon icon-soup"></div>
            <div class="menu-title en-font-bold-italic">Udon Hot Bowl</div>
            <p class="menu-description">מרק אודון עם איטריות זכוכית, פיטריות שיטאקה, בצל ירוק, ומלא עלים ירוקים (עם שרימפס פריך / עם פרוסות חזה עוף בציר אסיאתי / עם קוביות טופו פריכות)</p>
          </div>
        </div>

        <div class="text-center margin-top-md">
          <h2 class="red-color text-center en-font-bold-italic">Shi Shi Small Bowl</h2>
          <div class="menu-item-card menu-item-card-single margin-top-md">
            <div class="icon icon-soup"></div>
            <div class="menu-title en-font-bold-italic"></div>
            <p class="menu-description padding-top-sm">סלט פפאיה SHI-SHI STYLE/אגדה של טופו/כרובית מטוגנת באיולי קארי</p>
          </div>
        </div>
      </div>
    </div>

    <!--Reviews Section -->
    <div class="reviews-wrap" id="reviews">
      <h2 class="red-color text-center en-font-bold-italic">כתבו עלינו</h2>

      <div class="row review-item">
        <div class="small-12 medium-10 small-centered columns text-center">
          <a href="http://www.sheee.co.il/item/3198021"
             target="_blank"
             class="review-item-text medium-text red-color">
            "הפעם, במסענו למציאת ארוחת הצהריים-הכי-טובה-לאמצע-יום-עבודה הגענו לשי-שי. מקום נפלא שנתן פרשנות חדשה ומרעננת לסושי הקלאסי, וכיוון שהוא לא מתיימר להיות יפני או אמריקאי (ובכללי לא מחפש הגדרות) הוא שובר את כללי המשחק ויוצאים כך דברים נפלאים. תאכלו אותו - לא תצטערו."
          </a>
          <div class="en-font-semi-bold-italic">
            SHEEE - אתר הנשים של וואלה
          </div>
        </div>
      </div>

      <div class="row review-item">
        <div class="small-12 medium-10 small-centered columns text-center">
          <a href="http://www.mako.co.il/food-cooking_magazine/pizza-rules/Article-d04180be70d7151006.htm"
             target="_blank"
             class="review-item-text medium-text red-color">
            "מנת השי־שי כרובית היא מפנתיאון מנות הזלילה הכי מספקות והכי מענגות רגשית בעיר. השי־שי ארוז היטב בנייר אריזה ומונח כמו כלי נגינה יקר בקופסאות קרטון יפות שגורמות לו להגיע מהודק ומחוטב ולא להתפרק בדרך. זו הסיבה שבעטייה ממש נוח לאכול אותו כשממשיכים להקליד ביד אחת ומחזיקים אותו רק ביד השנייה"
          </a>
          <div class="en-font-semi-bold-italic">
            שירי כץ | TIME OUT
          </div>
        </div>
      </div>

      <div class="row review-item">
        <div class="small-12 medium-10 small-centered columns text-center">
          <a href="http://timeout.co.il/%D7%90%D7%95%D7%9B%D7%9C%D7%99%D7%9D-%D7%A9%D7%95%D7%AA%D7%99%D7%9D/%D7%91%D7%93%D7%A8%D7%9A-%D7%90%D7%9C%D7%99%D7%9B%D7%9D/%D7%A0%D7%A7%D7%9E%D7%AA%D7%95-%D7%A9%D7%9C-%D7%94%D7%9E%D7%90%D7%A0%D7%A5-%D7%94%D7%90%D7%A1%D7%99%D7%99%D7%AA%D7%99-%D7%9E%D7%94-%D7%97%D7%A9%D7%91%D7%A0%D7%95-%D7%A2%D7%9C-%D7%94%D7%9E%D7%A9"
             target="_blank"
             class="review-item-text medium-text red-color">
            ״מאז שדיווחנו לכם על הפתיחה של שי שי, בית האוכל האסייתי ברחוב אבן גבירול בתל אביב, אנחנו רק הולכים ומתלהבים מהמקום יותר ויותר. אווירה קלילה ואוכל טעים, משביע וצבעוני (אם עוד לא טעמתם, מגישים כאן רול אורז גדול במילויים שונים ומעניינים, ובסגנון שאינו דווקא אסייתי מובהק). עכשיו אנחנו מתלהבים גם ממערכת המשלוחים החדשה של המקום, שמציעה את אחד המארזים המגניבים והאסתטיים ביותר שראינו.״
          </a>
          <div class="en-font-semi-bold-italic">
            ריטה גולדשטיין | אוכל טוב| mako
          </div>
        </div>
      </div>

      <div class="row review-item">
        <div class="small-12 medium-10 small-centered columns text-center">
          <a href="http://www.mouse.co.il/CM.articles_item,582,209,79668,.aspx"
             target="_blank"
             class="review-item-text medium-text red-color">
            ״כששומעים לראשונה על הקונספט הקולינרי של SHI SHI, מעין שילוב משונה בין ספרינג-רול לסושי, נדמה שלפנינו עוד מסעדה אסייתית  עם שאיפות גדולות ויכולות קטנות. אלא שאז נותנים ביס אחד ברול ממולא בדג לבן או שרימפס, ומבינים שיש דברים שהיו צריכים להמציא כבר מזמן. אנחנו ממליצים להזמין שני רולים שונים ולהתחלק חצי-חצי עם חברים טובים. בקרוב יהיו גם משלוחים״
          </a>
          <div class="en-font-semi-bold-italic">
            פרסי עכבר העיר – אוכל הרחוב הטוב ביותר
          </div>
        </div>
      </div>

      <div class="row review-item" dir="ltr">
        <div class="small-12 medium-10 small-centered columns text-center">
          <a href="http://www.telavivaffordabledining.com/?p=566"
             target="_blank"
             class="review-item-text medium-text red-color">
            "they offer different innovative variations of enlarged sushi. Each dish is based on rice with different filling and sauces that are fresh and will surprise you with their robust flavor So what is this dish? Shi-Shi is an even larger and healthier sushi. The dish itself is based on rice with differ choices of fillings with unique, flavorful sauces. Each large sushi roll is rolled to perfection with no dripping and can be eaten in place or take away."
          </a>
          <div class="en-font-semi-bold-italic">
            Tel Aviv Affordable Dining
          </div>
        </div>
      </div>

    </div>

    <img src="app/assets/images/gif-faces.gif" alt="shishi faces" class="menu-anim-gif"/>
  </section>

  <!--Map Section-->
  <section id="map-section" class="map-section" dir="rtl">
    <div class="map-title">
      אבן גבירול 33 (פינת הנביאים), תל אביב |
      <a href="tel:03-575-3737" class="phone-link">03-575-3737</a>
    </div>

    <div map-lazy-load="https://maps.google.com/maps/api/js">
      <ng-map center="32.0753662,34.7816258"
        zoom="17"
        scrollwheel="false"
        draggable="false">
        <marker position="32.0753662,34.7816258"
                icon="http://www.shi-shi.co.il/app/assets/images/shishi-face.png">
        </marker>
      </ng-map>
    </div>
  </section>

  <div class="footer en-font-regular text-center clearfix">
    <div class="copyright">
      Copyright © 2014 All Rights Reserved.
    </div>
    <div class="powered-by">
      Designed by <a href="http://studio-y-o.com/" target="_blank">STUDIO Y&O</a> | Dev By <a href="https://github.com/doroncy" target="_blank">Doron Cyngiser</a>
    </div>
  </div>

</div>
