.icon {
	background-repeat: no-repeat;

	&.icon-bowl {
		background-image: url('../../src/app/assets/images/pngicons/bowl.png');
	}

	&.icon-chicken {
		background-image: url('../../src/app/assets/images/pngicons/chicken.png');
	}

	&.icon-facebook-red {
		background-image: url('../../src/app/assets/images/pngicons/facebook-red.png');
	}

	&.icon-facebook-white {
		background-image: url('../../src/app/assets/images/pngicons/facebook-white.png');
	}

	&.icon-fish {
		background-image: url('../../src/app/assets/images/pngicons/fish.png');
	}

	&.icon-hamb {
		background-image: url('../../src/app/assets/images/pngicons/hamb.png');
	}

	&.icon-instagram-red {
		background-image: url('../../src/app/assets/images/pngicons/instagram-red.png');
	}

	&.icon-instagram-white {
		background-image: url('../../src/app/assets/images/pngicons/instagram-white.png');
	}

	&.icon-logo-red {
		background-image: url('../../src/app/assets/images/pngicons/logo-red.png');
	}

	&.icon-logo-white {
		background-image: url('../../src/app/assets/images/pngicons/logo-white.png');
	}

	&.icon-shishi-logo-mobile {
		background-image: url('../../src/app/assets/images/pngicons/shishi-logo-mobile.png');
	}

	&.icon-shrimp {
		background-image: url('../../src/app/assets/images/pngicons/shrimp.png');
	}

	&.icon-tavili-red {
		background-image: url('../../src/app/assets/images/pngicons/tavili-red.png');
	}

	&.icon-tavili-soon-red {
		background-image: url('../../src/app/assets/images/pngicons/tavili-soon-red.png');
	}

	&.icon-tavili-soon-white {
		background-image: url('../../src/app/assets/images/pngicons/tavili-soon-white.png');
	}

	&.icon-tavili-text-red {
		background-image: url('../../src/app/assets/images/pngicons/tavili-text-red.png');
	}

	&.icon-tavili-text-white {
		background-image: url('../../src/app/assets/images/pngicons/tavili-text-white.png');
	}

	&.icon-tavili-white {
		background-image: url('../../src/app/assets/images/pngicons/tavili-white.png');
	}

	&.icon-veggie {
		background-image: url('../../src/app/assets/images/pngicons/veggie.png');
	}

}