.slider-wrap {
  position: relative;
  //float: left;
  width: 100%;
  img {
    vertical-align: top;
    background-size:cover;
  }
}
@charset "UTF-8";

// Default Variables
$slick-dot-color: white !default;
$slick-dot-color-active: $pink !default;
$slick-dot-character: "•" !default;
$slick-dot-size: 70px !default;
$slick-opacity-default: 1 !default;
$slick-opacity-on-hover: 0.7 !default;
$slick-opacity-not-active: 1 !default;

.slick-slide{
  float: left;
  height:100%;
  min-height: 1px;
}

/* Dots */

.slick-slider {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  max-height: 100%;
  border-bottom:5px solid $red;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.slick-dots {
  position: absolute;
  bottom: 14px;
  margin: 0 auto;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
  z-index:99999;
  li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer;
      &:hover, &:focus {
        outline: none;
        &:before {
          opacity: $slick-opacity-on-hover;
        }
      }
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: $slick-dot-character;
        width: 20px;
        height: 20px;
        font-size: $slick-dot-size;
        line-height: 20px;
        text-align: center;
        color: $slick-dot-color;
        opacity: $slick-opacity-not-active;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
    &.slick-active button:before {
      color: $slick-dot-color-active;
      opacity: $slick-opacity-default;
    }
  }
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  height:100%;
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1;
  height:100%;
}
.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#main-gallery .slick-slide {
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
}
